.coin-container .content{
    max-width: 740px;
    margin: 1rem  auto;
    padding: .7rem 1rem;
    display: flex;
    flex-direction: column;
    background:  #26272b;
   box-shadow: 0px 0px 12px  #262772;
   border-radius: 18px;
   transition: 1s ease-in-out;

}

.coin-container .content:hover{
    transform: scale(1.04);
    transition: 0.3s ease-in-out;
}
.rank{
    margin: -5 0;
}
.rank-btn{
    border: 1px solid #6900ff;
    box-shadow: 0px 0px 8px #6900ff;
    background-color: #6900ff;
    border-radius: 8px;
    padding: .2rem;
}
.info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.info .coin-heading{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    
}
.info .coin-price{
    display: flex;
    align-items: center;
    justify-content: center;
}
.info p{
    padding-right: 1rem;
}
table{
    margin: .5rem 0;
}
td, th{
    padding: 8px;
    text-align: center;
}
th{
    background: #333;
}
.stats{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    width: 100%;
}
.stats .row{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #333;
    margin: 0.6rem 0;
    padding-bottom:  0.6rem;
}

.about h3{
    margin: 1rem ;
    border: 1px solid #6900ff;
    box-shadow: 0px 0px 8px #6900ff;
    background-color: #6900ff;
    text-align: center;
}

@media screen and (max-width:700px){
    .coin-container .content{
        max-width: 100%;
        margin: 0.5rem;
        padding: 0 0.5rem;
    }
    .stats{
        grid-template-columns: 1fr;
    }
    td, th{
        padding: 3px;
        margin-top: 10px;
    }
    
}